h2 {
    color: white;
    background-color: orange;
    background-position: center;
    background-size: cover;
    text-align: left;
    text-decoration: none;
}

p {
    color: black;
    text-align: left;
    background-color: white;
    font: size 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: blue;
    background-color: gold;
}

.image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px
     width: 20px;
    height: 30px
}